.cropper-wrap-box {
    max-height: 473px !important;
}

.cropper-modal {
    display: none;
}

.cropper-container {
    height: 473px !important;
}

.crop__button {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #f97316;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(249, 115, 22, 0));
    --tw-gradient-to: #ec4899;
    color: #fff !important;
    font-size: 18px !important;
    width: 110px !important;
    padding: 10px;
    text-transform: inherit !important;
    cursor: pointer;
    border-radius: 12px;
    margin-left: 150px !important;
}