.multipleTab__itemOne {
    display: flex;
    flex-wrap: wrap;
}

.multipleTab__itemOne > div > p {
    display: flex;
    flex-wrap: wrap;
}

.multipleTab__image {
    width: 80px;
    height: 60px;
    border-radius: 12px;
    object-fit: cover;
    padding: 3px;
}