.topBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px 10px 0;
    margin-top: 10px;
}

.topBar__image > img {
    width: 120px;
    height: 60px;
    margin-left: 10px;
}

.topBar__search {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 22px;
    width: 520px;
    padding-left: 10px;
    margin-top: 3px;
}

.topBar__search {
    height: 40px;
}

.topBar__search > input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 450px;
    outline-width: 0;
    border: none;
    font-size: 16px;
}

.addReels > button {
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-from: #f97316;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(249, 115, 22, 0));
    --tw-gradient-to: #ec4899;
    color: #fff !important;
    font-size: 14px !important;
    width: 140px !important;
    padding: 10px;
    text-transform: inherit !important;
    border-radius: 22px;
}

.topBar__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 200px;
}
