    .details {
        display: flex;
        max-height: 80vh;
    }

    .details__left {
        flex: 0.2;
        padding: 10px 20px 10px 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .details__top {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-bottom: 16px;
    }

    .details__profilePic {
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .details__name > span {
        font-size: 22px;
    }

    .details__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    .details__middle > div > h3 {
        margin: 0;
    }

    .details__middle > div > span {
        font-size: 14px;
    }

    .details__bio {
        width: 250px;
        height: 70px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .details__bio::-webkit-scrollbar {
        display: none;
    }

    .details__bio > span {
        display: inline-block;
        font-size: 14px;
        overflow: hidden;
    }

    .details__tab {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .details__suggestionContainer {
        display: flex;
        width: 250px;
        position: relative;
        overflow-y: auto;
    }

    .details__suggestionContainer::-webkit-scrollbar {
        display: none;
    }

    .details__arrowContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 278px;
        z-index: 20;
        top: 110px;
        right: 13px;
    }

    .details__arrowContainer > div {
        background-color: rgb(77, 76, 76);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }

    .details__suggestion {
        width: 140px;
        height: 180px;
        border: 1px solid lightgray;
        padding: 10px;
        margin-left: 10px;
    }

    .details__suggestionName {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .details__suggestionName > p {
        margin: 0;
        font-size: 18px;
        white-space: nowrap!important;
        overflow: hidden!important;
        text-overflow: ellipsis!important;
    }

    .details__suggestionName > span {
        font-size: 13px;
        margin-left: 10px;
    }

    .details__suggestButton > button {
        background-image: linear-gradient(to right,var(--tw-gradient-stops));
        --tw-gradient-from: #f97316;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(249, 115, 22, 0));
        --tw-gradient-to: #ec4899;
        color: #fff !important;
        font-size: 14px !important;
        width: 100px !important;
        padding:2px;
        margin-left: 20px;
        text-transform: inherit !important;
    }

    .details__button > button {
        background-image: linear-gradient(to right,var(--tw-gradient-stops));
        --tw-gradient-from: #f97316;
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(249, 115, 22, 0));
        --tw-gradient-to: #ec4899;
        color: #fff !important;
        font-size: 14px !important;
        width: 250px !important;
        padding: 10px;
        margin: 10px 10px;
        text-transform: inherit !important;
    }

    .details__right {
        display: flex;
        flex-wrap: wrap;
        flex: 0.8;
        height: 84vh;
        overflow-y: auto;
        margin-left: 40px;
    }

    .details__right::-webkit-scrollbar {
        display: none;
    }

    .details__card {
        width: 300px;
        height: 300px;
        padding: 10px;
        cursor: pointer;
    }