    .details {
        display: flex;
    }

    .details__left {
        flex: 0.2;
        padding: 10px 20px 10px 20px;
        margin-left: 20px;
    }

    .details__top {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-bottom: 22px;
    }

    .details__profilePic {
        margin-left: 18px;
        margin-bottom: 10px;
    }

    .details__name > span {
        font-size: 22px;
    }

    .details__middle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
    }

    .details__middle > div > h3 {
        margin: 0;
    }

    .details__middle > div > span {
        font-size: 14px;
    }

    .details__bio {
        width: 250px;
        height: 100px;
        overflow-y: auto;
        margin-top: 20px;
    }

    .details__bio::-webkit-scrollbar {
        display: none;
    }

    .details__bio > span {
        display: inline-block;
        overflow: hidden;
    }

    .details__tab {
        margin-top: 20px;
    }

    .details__right {
        flex: 0.8;
    }