.explore__container {
    width: 850px;
    height: 620px;
    overflow-y: scroll;
    position: absolute;
    left: 20%;
}

.explore__container::-webkit-scrollbar {
    display: none;
}

.explore_images {
    cursor: pointer;
}

.explore_reels {
    width: 410px;
    height: 600px;
    object-fit: fill;
    border-radius: 22px;
    cursor: pointer;
}