.favourites_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 85vh;
    overflow-y: scroll;
    margin-left: 120px;
}

.favourites_container::-webkit-scrollbar {
    display: none;
}

.image_container {
    position: relative;
    width: 400px;
    height: 500px;
    padding: 10px 10px;
    border-radius: 22px;
    cursor: pointer;
}

.image > img {
    width: 400px;
    height: 500px;
    border-radius: 22px;
    object-fit: fill;
}

.user_information {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.10);
    border-radius: 22px;
}

.user_infonames {
    margin-left: 10px;
}