.feed {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.feed__top {
    float: right;
    padding-bottom: 10px;
}

.feed__button {
    border-radius: 22px !important;
    width: 50px !important;
    background-color: #eaeded !important;
    color: #222 !important;
    text-transform: inherit !important;
    font-size: 16px !important;
    font-weight: 700 !important;
    margin-right: 20px !important;
}

.feed__cards {
    display: flex;
    flex-direction: column;
    align-self: center;
}