.home {
    background-color: #eaeded;
    height: 100vh;
    display: flex;
}

.home__left {
    flex: 0.25;
}


.home__middle {
    flex: 0.8;
    /* overflow-y: auto; */
    height: 90vh;
}

.home__middle::-webkit-scrollbar {
    display: none;
}


.home__right {
    flex: 0.25;
}