.login {
    display: flex;
}

.login__left {
    flex: 0.5;
    max-height: 98vh;
    padding: 20px;
}

.login__left > div {
    display: flex;
    padding: 20px;
    margin-left: 90px;
}

.login__right {
    flex: 0.5;
    margin-top: 100px;
}

.login__rightContainerName {
    display: flex;
    align-items: center;
}

.login__rightContainerName > div {
    display: flex;
    align-items: center;
    background-color: #f0eded;
    width : 240px;
    height: 40px; 
    margin-right: 20px;  
    margin-top: 20px;
    padding-left: 10px;
}

.login__rightContainerName > div > input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 220px;
    outline-width: 0;
    border: none;
    font-size: 16px;
    background-color: #f0eded;
}

.login__rightContainerUserName > div {
    display: flex;
    align-items: center;
    background-color: #f0eded;
    width : 500px;
    height: 45px; 
    margin-right: 20px;  
    margin-top: 30px;
    padding-left: 10px;
}

.login__rightContainerUserName > div > input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 480px;
    outline-width: 0;
    border: none;
    font-size: 16px;
    background-color: #f0eded;
}

.login__rightContainerButton > button {
    background-image: linear-gradient(to bottom, #ee0979, #ff6a00) !important;
    color: #fff !important;
    font-size: 14px !important;
    width: 350px !important;
    padding: 10px;
    margin: 20px 60px;
}

@keyframes scaling {
    From {
        transform: scale(0.8);
    }
    To {
        transform: scale(1.01);
    }
    }
    
    .login__leftImage1 {
       animation: scaling 5s infinite alternate;
       object-fit: cover;
        width: 250px;
        max-width: 450px;
        max-height: 450px;
        height: 300px;
        border-radius: 22px;
    }
    
    .login__leftImage2 {
        animation: scaling 6s infinite alternate;
        object-fit: cover;
         width: 250px;
         max-width: 450px;
         max-height: 450px;
         height: 300px;
         border-radius: 22px;
     }

     .login__leftImage3 {
        animation: scaling 5.5s infinite alternate;
        object-fit: cover;
         width: 250px;
         max-width: 450px;
         max-height: 450px;
         height: 300px;
         border-radius: 22px;
     }

     .login__leftImage4 {
        animation: scaling 6s infinite alternate;
        object-fit: cover;
         width: 250px;
         max-width: 450px;
         max-height: 450px;
         height: 300px;
         border-radius: 22px;
     }
