.post__left {
    display: flex;
}

.css-1f8sh1y {
    height: 680px !important;
}

.post__rightContainer {
    width: 100%;
}

.post__right {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d373;
}

.post__rightTop {
    display: flex;
    height: 35px;
}

.post__rightTop > div {
    margin-left: 10px;
}

.followButton {
    background-color: #fff;
    border: none;
    color: #0095f6;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.post__downContainer {
    padding: 5px 5px 0px 10px;
}

.post__commentSection {
    height: 450px;
    border-bottom: 1px solid #d3d3d373;
}

.post__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post__buttons > div {
    display: flex;
}

.post__buttons > div > div {
    margin-right: 10px;
}

.post__addComment {
    position: relative;
    display: flex;
    align-items: center;
}

.post__addCommentInput {
    width: 300px;
    height: 25px;
    padding: 8px;
    outline-width: 0;
    border: none;
    resize: none;
    font-size: 16px;
}

