.preferences {
    display: flex;
    justify-content: center;
    align-self: center;
}

.preferences__containerTop > h1 {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 0;
}

.preferences__containerTop > span {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.preferences__container {
    padding: 10px;
    max-width: 850px;
}

.preferences__containerCards {
    display: flex;
    flex-wrap: wrap;
}