.registration {
    display: flex;
}

.registration__left {
    flex: 0.5;
}

.registration__left > div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.registration__left > div > img {
    width: 500px;
    height: 500px;
}

.registration__right {
    flex: 0.5;
    margin-top: 100px;
}

.registration__rightContainerName {
    display: flex;
    align-items: center;
}

.registration__rightContainerName > div {
    background-color: #f0eded;
    width : 240px;
    height: 40px; 
    margin-right: 20px;  
    margin-top: 20px;
}

.registration__rightContainerName > div > input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 220px;
    outline-width: 0;
    border: none;
    font-size: 16px;
    background-color: #f0eded;
}

.registration__rightContainerUserName > div {
    background-color: #f0eded;
    width : 500px;
    height: 45px; 
    margin-right: 20px;  
    margin-top: 30px;
}

.registration__rightContainerUserName > div > input {
    padding: 0px 10px 0px 10px;
    height: 40px;
    width: 480px;
    outline-width: 0;
    border: none;
    font-size: 16px;
    background-color: #f0eded;
}

.registration__rightContainerButton > button {
    background-image: linear-gradient(to bottom, #ee0979, #ff6a00) !important;
    color: #fff !important;
    font-size: 12px !important;
    width: 350px !important;
    padding: 10px;
    margin: 20px 60px;
}
